<h1>{{title}}</h1>
<form #loginForm="ngForm"(ngSubmit)=onSubmit(loginForm.value)>
  <!-- <label for="username">Username</label>
  <input id="username" name="username" ngModel required>
  <div *ngIf="loginForm.submitted && loginForm.controls['username']?.invalid">
    Username is required.
  </div> -->
  <input type="text" placeholder="Enter Name" name="name" ngmodel>
  <br><br>
  <input type="password" placeholder="Enter Password" name="password" ngmodel>
  <br><br>
  <!-- <label for="password">Password</label>
  <input id="password" name="password" type="password" ngModel required>
  <div *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid">
    Password is required.
  </div> -->

  <button type="submit">Login</button>
</form>